.term_link:hover .guide_contence {
	display: inline-block;
}

.term_meaning {
	font-weight: 700;
}
.term_author {
	font-size: 80%;
	color: gray;
}
.term_tag {
	font-size: 80%;
	font-weight: 500;
	margin: 0 8px;
}
.term_link {
	cursor: pointer;
	position: relative;
}

.term_link,
.term_link_new {
	color: blue;
	padding-left: 2px;
	padding-right: 2px;
}
.term_link_new {
	color: red;
}

.tran {
	line-height: 1.5em;
}

.tran ul {
	list-style-type: circle;
	margin-left: 2em;
}

.tran li {
	list-style: inherit;
}

.tran ol {
	list-style-type: decimal;
	margin: 0;
	padding: 0;
	margin-left: 2em;
}

.tran:lang(en) > ol {
	list-style-type: decimal;
}

/*中文*/
.tran:lang(zh) > ol {
	list-style-type: cjk-ideographic;
	margin-left: 2.5em;
}

/*简体中文*/
.tran:lang(zh-cn) > ol {
	list-style-type: trad-chinese-formal;
	margin-left: 2.5em;
}
.tran:lang(zh-hans) > ol {
	list-style-type: trad-chinese-formal;
	margin-left: 2.5em;
}
/*繁体中文*/
.tran:lang(zh-tw) > ol {
	list-style-type: trad-chinese-formal;
	margin-left: 2.5em;
}
.tran:lang(zh-hant) > ol {
	list-style-type: trad-chinese-formal;
	margin-left: 2.5em;
}

/*japanese*/
.tran:lang(jp) > ol {
	list-style-type: hiragana;
	margin-left: 2.5em;
}
/*kora*/
.tran:lang(ko) > ol {
	list-style-type: korean-hangul-formal;
	margin-left: 2.5em;
}
/*thai*/
.tran:lang(ti) > ol {
	list-style-type: thai;
	margin-left: 2em;
}
/*myanmar*/
.tran:lang(my) > ol {
	list-style-type: myanmar;
	margin-left: 2em;
}

/*myanmar*/
.tran:lang(my) {
	font-size: 120%;
	line-height: 2em;
}

.tran_div {
	margin-bottom: 1em;
	padding-bottom: 1em;
	padding-top: 0.5em;
	border-bottom: 1px solid var(--border-line-color);
}

.tran_div:last-child {
	border-bottom: none;
}
.ref .tooltiptext {
	background-color: seashell;
}
.ref .tooltip .tooltiptext {
	left: calc(100% - 65vw);
	right: 0;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
	white-space: normal;
	max-width: 80vw;
}
.ref .tooltip .tooltip-bottom::after {
	left: 90%;
	border-color: transparent transparent seashell transparent;
}
.ref .tooltip-bottom {
	top: 100%;
	left: unset;
	margin-left: unset;
}
note:hover chapter {
	display: inline;

	/*position: absolute;*/
}
.ref > .book_name > chapter:first-child {
	display: inline;
}
chapter {
	display: none;
	color: var(--box-bg-color1);
	text-decoration: none;
	cursor: pointer;
}
.path chapter {
	display: unset;
}
chapter::after {
	content: " > ";
}
chapter:hover {
	color: var(--link-color);
	/*text-decoration: underline;*/
}
.tooltiptext chapter {
	display: inline;
}
para {
	background-color: var(--drop-bg-color);
	padding: 0 4px;
	text-decoration: none;
	cursor: pointer;
	color: var(--btn-border-color);
	border-radius: 5px;
	display: none;
}
.tooltiptext para {
	display: inline;
}
.path para {
	display: unset;
}
para:hover {
	text-decoration: underline;
}
#contents_div .sent_no_read_mode {
	display: none;
}

commentary,
com,
nt,
blockquote {
	margin: 0;
	margin-left: 1.5em;
	display: block;
	border-left: 3px solid gray;
	padding-left: 5px;
}

note > .tran {
	color: #5c5c5c;
	padding-left: 1em;
	padding: 0;
	position: relative;
	margin-top: -0.5em;
	line-height: 1.8em;
}
note > .tran > .text {
	margin-bottom: 1em;
}
.tran_text_tool_botton {
	border-radius: 50%;
	border: 2px solid var(--btn-bg-color);
	width: fit-content;
	padding: 2px;
	height: fit-content;
	margin-left: -1em;
	margin-right: 1em;
	background-color: var(--nocolor);
	visibility: hidden;
}

.tran_text_tool_botton > .icon_expand {
	width: 0.8em;
	height: 0.8em;
	min-width: 0.8em;
	min-height: 0.8em;
}
note > .tran .tran_text_tool_bar,
.tran_text_tool_bar {
	padding: 0.5em 1em;
	position: absolute;
	display: none;
	color: var(--border-line-color);
	z-index: 40;
	width: auto;
	font-size: 14px;
	height: auto;
	line-height: 28px;

	background-color: var(--box-bg-color1);
	border-radius: 5px;
}
note > .tran:lang(my) .tran_text_tool_bar {
	margin-top: -2.5em;
}
note > .tran .tran_text_tool_bar::after,
.tran .tran_text_tool_bar::after {
	content: " ";
	position: absolute;
	left: 1.4em;
	bottom: 100%;

	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--box-bg-color1) transparent;
}

.tran:hover > .tran_text_tool_botton {
	visibility: visible;
}
.tran_text_tool_bar li {
	list-style: none;
	display: flex;
	white-space: nowrap !important;
}
.tran_text_tool_bar .icon {
	margin: auto 0.4em auto 0;
}
.tip_buttom {
	padding: 0 0.2em;
	margin: 0 0.2em;
	cursor: pointer;
	background-color: inherit;
	border-radius: 5px;
}
.tip_buttom:hover {
	background-color: var(--btn-border-color);
}
.tran:hover .edit_button {
	display: inline-block;
}
.edit_button {
	display: inline-block;
	width: auto;
	min-width: 24px;
	height: auto;
	min-height: 24px;
	cursor: pointer;
	fill: var(--tool-color);
	background: url(edit.svg);
	background-repeat: no-repeat;
	background-size: contain;
	color: var(--tool-color);
	margin-top: -2em;
}

note > .palitext,
.palitext {
	font-family: Noto serif;
	line-height: 1.5em;
	color: #9f3a01;
	font-weight: 500;
	margin: 4px;
}
note n {
	display: inline;
	color: blue;
}

.term_word_head_pali {
	text-transform: capitalize;
	font-size: 200%;
	margin-top: 0.5em;
}
.term_word_head {
	border-bottom: 1px solid #cecece;
	padding: 5px 0;
}
.term_block {
	border-bottom: 1px solid #cecece;
	padding: 5px 0;
}
.term_word_head_authors a {
	color: blue;
	margin: 0 3px;
}
.term_word_head_authors a:hover {
	text-decoration: underline;
	cursor: pointer;
}

note .ref {
	font-size: 75%;
	white-space: nowrap;
	max-width: 45%;
	text-align: right;
	/*position: absolute;
	right: 1em;*/
}
note:hover .ref {
	/*border-top: solid 1px var(--border-line-color);*/
}

.progress_bar_done {
	stroke-width: 0;
	fill: royalblue;
}

.progress_bar_undone {
	stroke-width: 0;
	fill: #c0c0c052;
}

.progress_bar_bg {
	stroke-width: 0;
	fill: #ffffff;
}

.progress_bar_percent {
	stroke-width: 0;
	fill: limegreen;
}

r {
	text-align: right;
	display: block;
}

note {
	padding: 0.5em 0 0 0;
	margin-bottom: 0.4em;
	border-radius: 5px;
	line-height: 1.3em;
	display: block;
	background-color: #80808014;
	position: relative;
}
note > .bottm_tool_button {
	border-radius: 5px;
	border: 4px dotted var(--border-line-color);
	display: none;
	transition: all 0.3s ease;
}
note:hover > .bottm_tool_button {
	display: block;
}
.add_new {
	display: inline-block;
	position: absolute;
	min-width: 1.4vw;
	display: none;
}
note:hover .add_new {
	display: inline-block;
	position: absolute;
}
.icon_add {
	width: 1.5vw;
	min-width: 1.4vw;
	height: 1.5vw;
	cursor: pointer;
	background: url(add.svg);
	background-repeat: no-repeat;
	background-size: contain;
	left: 0;
	bottom: 1em;
}
.tool_bar > .more_tran {
	display: inline-block;
	margin-right: 5px;
	transform: rotate(-90deg);
	transition: all 0.2s ease;
}

.icon_expand {
	width: auto;
	min-width: 14px;
	height: auto;
	min-height: 14px;
	cursor: pointer;
	background: url(expand.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.icon_fold {
	width: auto;
	min-width: 14px;
	height: auto;
	min-height: 14px;
	cursor: pointer;
	background: url(fold.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.other_tran_div {
	min-height: 1em;
	border-top: 1px solid var(--border-line-color);
}
.other_tran_div > .tool_bar {
	background-color: var(--btn-bg-color);
	padding: 0 6px;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
	justify-content: space-between;
	line-height: 1.5em;
}
.other_tran_div > .tool_bar > .tool_left {
	white-space: nowrap;
}
.other_tran_div > .tool_bar > .tool_right {
	white-space: pre-wrap;
	margin-left: auto;
}
.other_tran_div > .other_tran {
	min-height: 1em;
	transition: all 0.2s ease;
	display: none;
}
.tool_bar {
	display: flex;
}
.bg_color_1 {
	background-color: #ebebeb66;
}
.bg_color_2 {
	background: linear-gradient(to left, #6afdb033, #ebebeb66);
}
.bg_color_3 {
	background: linear-gradient(to left, #6a95fd26, #ebebeb66);
}
.bg_color_4 {
	background: linear-gradient(to left, #f9e7911c, #ebebeb66);
}
.bg_color_5 {
	background: linear-gradient(to left, #fe99b91c, #ebebeb66);
}

pre {
	white-space: pre-line;
	font-family: auto;
	border-left: 3px solid var(--border-shadow);
	margin-left: 1em;
	padding-left: 0.5em;
}

.note_tool_bar {
	position: relative;
	display: none;
	z-index: 50;
	margin-right: 1em;
}

note:hover .note_tool_bar {
	display: block;
}

.sent_menu {
	right: 0;
}
.para_menu {
	left: 0;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: unset;
	font-size: 1.1em;
}

.tran p {
	margin: 0;
}

.note_tool_context {
	position: absolute;
	right: -1vw;
	width: 1.5em;
	text-align: right;
	margin-top: -0.3em;
}

.note_tool_context .icon {
	fill: var(--link-color);
}
.note_tool_context:hover .icon {
	fill: (--link-hover-color);
}

.channel_select {
	display: none;
}
#channal_list .selected {
	background: linear-gradient(to right, #6afdb033, #ebebeb66);
	padding: 5px;
	border-radius: 5px;
}
#channal_list .noselect {
	background-color: unset;
	padding: 5px;
	border-radius: 5px;
}
.other_tran_num,
.similar_sent_num {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: cornflowerblue;
	position: relative;
	min-width: 14px;
	height: 14px;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	line-height: 14px;
	display: none;
	margin: auto 2px;
	color: whitesmoke;
	padding: 0 3px;
}
.similar_sent_num {
	display: inline-flex;
}
.separate_line {
	border: solid 1px #e8e8e8;
	border-radius: 3px;
	margin: 1px 5px;
	width: 1px;
	background: #c6c6c6;
	text-decoration: none;
}

pw {
	padding-right: 0.5em;
}

.slider_show_shell {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 85%;
	background-color: #000000f5;
	font-size: 180%;
	padding-top: 2em;
}

.slider_show_shell .bg_color_1 {
	background-color: unset;
}

/*编辑框*/
.sent_tran {
	padding: 5px;
	margin-bottom: 2px;
}
.sent_tran_inner {
	display: flex;
}
.sent_tran:hover {
	background-color: rgba(0.5, 0.5, 0.5, 0.02);
}
.left_bar {
	flex: 1;
	display: flex;
	margin-right: 5px;
}
.sent_tran .left_bar > .face {
	display: block;
	margin: auto 0.5em auto auto;
}
.compact .left_bar > .face {
	display: none;
}
.left_bar > .date {
	display: none;
}
.compact .left_bar > .date {
	display: block;
	font-size: 80%;
	color: var(--main-color1);
}

.sent_tran_inner > .body {
	width: 100%;
	display: block;
	flex: 20;
}
.preview {
	font-size: 110%;
}
.compact .body > .head_bar {
	display: flex;
}
.compact .body > .head_bar > .date {
	display: none;
}
.head_bar > .info {
	display: none;
}
.head_bar > .info > .name {
	font-weight: 700;
	white-space: nowrap;
	margin-right: 0.5em;
}
.head_bar > .info > .date {
	font-size: 0.8em;
	color: gray;
}
.compact .head_bar > .info {
	display: block;
}
.compact .head_bar > .info > .date {
	display: none;
}
.foot_bar .info {
	color: var(--btn-border-line-color);
}
.tool_bar > .right {
	position: absolute;
	right: 2em;
	margin-top: calc(-1.8em - 8px);
	display: none;
	width: auto;
	background-color: var(--bg-color);
	border: 1px solid var(--border-line-color);
	border-radius: 6px;
	padding: 3px;
	/*margin-right: 20px;*/
}
.sent_tran_inner:hover .tool_bar > .right {
	display: block;
}

.body > .edit {
	display: none;
}
.body > .edit textarea {
	color: var(--main-color);
	width: 100%;
	background-color: var(--drop-bg-color);
	border: unset;
	border-radius: 8px;
	padding: 5px;
	line-height: 1.5em;
	height: 90px;
	font-size: 120%;
}
.foot_bar {
	font-size: 90%;
}
.foot_bar > .info {
	display: flex;
}
.foot_bar > .info span {
	margin-right: 4px;
}
.compact .foot_bar {
	display: none;
}
.edit_mode {
	background-color: #fafafa;
}
.edit_mode > .sent_tran_inner > .body > .head_bar > .preview {
	display: none;
}
.edit_mode > .sent_tran_inner > .body > .edit {
	display: block;
}
.pop_menu {
	display: flex;
}
.tag_list {
	display: flex;
	list-style-type: none;
}
.tag_list li {
	border-radius: 6px;
	margin-right: 5px;
	background-color: var(--bookx);
	padding: 2px 5px;
	cursor: pointer;
}
li.active {
	background-color: var(--booka);
}
.tag_list li:hover {
	background-color: var(--booka);
}
.sent_tran .preview p {
	line-height: normal;
	margin: 0;
	font-family: "Noto Sans", "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Padauk", "ATaiThamKHNewV1-Normal", "Arial",
		"Verdana";
}
.pop_menu .icon {
	fill: var(--main-color);
}
.pr_content {
	margin-left: 3em;
	border-left: 3px solid var(--border-line-color);
}
.menu_space_between a {
	display: flex;
	justify-content: space-between;
}
.body > .head_bar > .loading {
	color: gray;
}
.tooltip {
	display: inline-flex;
}
.disable {
	cursor: not-allowed;
}
.channel_name {
	white-space: nowrap;
}
.channel_name:hover {
	background-color: var(--btn-border-color);
}
.channel_list {
	margin-right: 4px;
}
.pali_div {
	padding: 0 10px 5px 10px;
}
.case_dropdown {
	min-width: unset;
}
.channel_list > li:first-child {
	border-bottom: solid 1px;
	justify-content: center;
	font-weight: bold;
}
w {
	cursor: pointer;
}
w:hover {
	text-decoration: underline;
}

/*纵向*/
.vertical .para_div {
	flex-direction: column;
}
.vertical .note_shell > note > .note_body {
	flex-direction: column;
}

.para_div {
	display: flex;
}
.note_shell > note > .note_body {
	display: flex;
}
/*段落模式 横向*/
.horizontal .para_div {
	flex-direction: row;
}
.horizontal .palitext_div {
	flex: 5;
}
.horizontal .para_tran_div {
	flex: 5;
}
/*句子模式 横向*/

.horizontal .note_shell > note > .note_body {
	flex-direction: row;
}
.horizontal .palitext_div {
	flex: 5;
}
.horizontal .sent_tran_div {
	flex: 5;
}

/*段落模式*/
.para_mode .para_div {
	display: flex;
}
.para_mode .note_shell {
	display: none;
}
/*句子模式*/
.sent_mode .para_div {
	display: none;
}
.sent_mode .note_shell {
	display: block;
}
.tran_sent p {
	display: inline;
}
.sent_tran li {
	line-height: normal;
}
.note_foot {
	display: flex;
	justify-content: space-between;
}
.term_pali {
	font-style: italic;
}

.note_body note {
	display: inline;
}

span.keybutton {
	background-color: gray;
	border-radius: 6px;
	font-size: 80%;
	padding: 0 3px;
	color: white;
	font-weight: 300;
	height: fit-content;
}

#contents_view .focus {
	border-radius: 20px;
	box-shadow: 0 5px 7px rgb(0 0 0 / 15%);
	margin: 10px 0;
	background-color: #f5deb36b;
	padding: 0.7rem;
	word-break: break-word;
}
span.tran_sent {
	display: block;
}

.icon_sent_send_status {
	display: none;
	width: auto;
	min-width: 14px;
	height: auto;
	min-height: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 6px;
}
.loading .icon_sent_send_status {
	display: inline-block;
	background: url(waiting.svg);
	fill: #6baaff;
}

.error .icon_sent_send_status {
	display: inline-block;
	background: url(error.svg);
	fill: red;
	cursor: pointer;
}
