#!/bin/bash

set -e

export WORK_DIR="{{ app_deploy_target }}"

source $HOME/python3/bin/activate

cd $WORK_DIR/
# https://github.com/iapt-platform/mint/blob/df8e1cf7ade16d17add360e7a869540c1ddaf1b9/api-v8/config/mint.php#L129
python3 -m ai_translate -d -c config.toml -n ai.translate -q ai_translate_v2

ai_translate_v2
exit 0
