#!/bin/bash

set -e

export WORK_DIR="{{ app_deploy_target }}"

export NVM_DIR="$HOME/.nvm"
source "$NVM_DIR/nvm.sh"

cd $WORK_DIR/api-v8/

php -d memory_limit={{ app_php_memory_limit }} artisan {{ zone_name }}:{{ worker_name }}

exit 0
