:root {
	--bg-color: #ffffff;
	--main-color: #1e1e1e;
	--main-color1: #626262;
	--main-color1: #626262;
	--btn-color: #dfdfdf;
	--btn-bg-color: #dfdfdf;
	--btn-border-color: #7d7d7d;
	--btn-hover-color: #ffffff;
	--btn-hover-bg-color: #494949;
	--btn-border-line-color: #7d7d7d;
	--input-bg-color: #424242;
	--select-bg-color: #424242;
	--drop-bg-color: #ebebeb;
	--link-color: #6baaff;
	--link-hover-color: #1f7df5;
	--border-line-color: #c5c7cb;
	--border: 1px solid var(--border-line-color);
	--border-shadow: #d2d2d2;
	--shadow-color: rgba(0, 0, 0, 0.28);
	--mean-user-color: #f9468f;
	--tool-bg-color: #333333;
	--tool-color: #ffffff;
	--tool-bt-bg-color: #222222;
	--tool-bt-color: #ffffff;
	--tool-bt-bg-hover-color: #545454;
	--tool-bt-hover-color: #ffffff;
	--tool-bt-border-line-color: #c5c7cb;
	--tool-bg-color1: #ebebeb;
	--tool-color1: rgb(49, 49, 49);
	--tool-bt-bg-color1: #222222;
	--tool-bt-color1: #ffffff;
	--tool-bt-bg-hover-color1: #545454;
	--tool-bt-hover-color1: #ffffff;
	--tool-bt-border-line-color1: #c5c7cb;
	--tool-title-color: #1b1c1c;
	--tool-line-color: #a4a4a4;
	--tool-link-hover-color: #a1c9ff;
	--nocolor: rgba(255, 255, 255, 0);
	--box-bg-color1: #545454;
	--box-bg-color2: #545454;
	--info-bg-color: rgba(255, 255, 255, 0.8);
	--booka: #ddddff;
	--bookx: #e4e4e4;
}
