/user/
/dicttext/system/*.db
/dicttext/rich/*.db
/appdata
/log
/palicsv
/temp
/font
/font/NotoSans
/font/NotoSerif
/font/NotoSerif/*.ttf
/font/NotoSerif/NotoSerif-BoldItalic.ttf
/font/NotoSerif/NotoSerif-ExtraBold.ttf
/font/NotoSerif/NotoSerif-ExtraBoldItalic.ttf
/font/NotoSerif/NotoSerif-ExtraLight.ttf
/font/NotoSerif/NotoSerif-ExtraLightItalic.ttf
/font/NotoSerif/NotoSerif-Italic.ttf
/font/NotoSerif/NotoSerif-Light.ttf
/font/NotoSerif/NotoSerif-LightItalic.ttf
/font/NotoSerif/NotoSerif-Medium.ttf
/font/NotoSerif/NotoSerif-MediumItalic.ttf
/font/NotoSerif/NotoSerif-Regular.ttf
/font/NotoSerif/NotoSerif-SemiBold.ttf
/font/NotoSerif/NotoSerif-SemiBoldItalic.ttf
/font/NotoSerif/NotoSerif-Thin.ttf
/font/NotoSerif/NotoSerif-ThinItalic.ttf
/font/NotoSerif/NotoSerif-Black.ttf
/font/NotoSerif/NotoSerif-BlackItalic.ttf
/font/NotoSerif/NotoSerif-Bold.ttf
