[submodule "public/dependence/pali-sentence"]
	path = public/dependence/pali-sentence
	url = https://github.com/iapt-platform/pali-sentence.git
[submodule "public/dependence/word-statistics"]
	path = public/dependence/word-statistics
	url = https://github.com/iapt-platform/word-statistics.git
[submodule "public/dependence/pali-similarity"]
	path = public/dependence/pali-similarity
	url = https://github.com/iapt-platform/pali-similarity.git
