guide {
	position: relative;
	display: inline-block;
	width: auto;
	min-width: 14px;
	height: auto;
	min-height: 14px;
	cursor: pointer;
	background: url(guide_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 6px;
	color: var(--link-color);
}
guide:hover .guide_contence {
	display: inline-block;
    width: fit-content;
    max-width: unset;
}
guide ul {
	list-style-type: disc;
	padding-left: 20px;
}
guide ol {
	list-style-type: decimal;
	padding-left: 20px;
}
.guide_contence {
	/*border-top: 7px;*/
	position: absolute;
	border: 1px solid var(--border-line-color);
	border-radius: 5px;
	top: 100%;
	/*width: max-content;
	min-width: min-content;
	max-width: min(80vw,20em);*/
	min-height: 15em;
	padding: 10px;
	background-color: var(--drop-bg-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-size: 10pt;
	text-align: left;
	display: none;
	margin: 10px 0 0 0;
	box-shadow: 0px 3px 13px 0px var(--shadow-color);
	color: var(--main-color);
	z-index: 200;
}
.nsy_word .guide_contence{
	white-space: nowrap;
}
.guide_contence:after {
	content: "\00a0";
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent var(--drop-bg-color) transparent;
	position: absolute;
	top: -20px;
}
.guide_contence:before {
	content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    border: 6px solid transparent;
}
.left:after {
	left: 10px;
}
.right:after {
	right: 10px;
}

.guide_contence h1 {
	font-size: 1.5em;
	font-weight: 700;
}
.guide_contence h2 {
	font-size: 1.3em;
	font-weight: 700;
}
.guide_contence h3 {
	font-size: 1.1em;
	font-weight: 700;
}
.guide_contence h4 {
	font-size: 1em;
	font-weight: 700;
}
.guide_contence li {
	white-space: normal;
	word-break: normal;
}
.guide_contence pre {
	background-color: rgba(0, 0, 0, 0.1);
}
.guide_contence code {
	word-break: normal;
	font-family: arial;
}
