[rabbitmq]
host = '{{ app_rabbitmq_host }}'
port = {{ app_rabbitmq_port }}
user = '{{ app_rabbitmq_user }}'
password = '{{ app_rabbitmq_password }}'
virtual-host = '{{ app_rabbitmq_virtual_host }}'
customer-timeout = 3600

[redis]
namespace = '{{ app_domain }}://'
host = '{{ app_redis_host }}'
port = {{ app_redis_port }}

[app]
api-url = '{{ app_api_server }}/api'
openai-proxy-url = '{{ app_openai_proxy_server }}/api/openai'
