.dark-pro-card {
  background-color: rgba(255, 255, 255, 0.1);
  color: unset;
}
.dark-pro-table-list-toolbar-setting-item {
  color: unset;
}
.dark-space-item {
  color: unset;
}
.dark-pro-table .dark-pro-table-search {
  background-color: unset;
}
.dark-pro-table-alert-info {
  color: unset;
}
.dark-pro-card-statistic .dark-statistic-title {
  color: rgba(150, 150, 150, 0.88);
}
.dark-pro-card .dark-pro-card-title {
  color: rgba(150, 150, 150, 0.88);
}
.dark-pro-table-list-toolbar-title {
  color: unset;
}
