var ICP_CODE = "{{ app_icp_code }}"
var GRPC_WEB_SERVER = "{{ app_grpc_web_server }}";
var DOCUMENTS_SERVER = "{{ app_documents_server }}";
var REACT_APP_QUESTIONNAIRE_LINK = "{{ app_questionnaire_link }}";
var DASHBOARD_BASE_PATH = "{{ app_dashboard_base_path }}";

/*
  |---------------
  |网站资源文件，非用户的图片，音频，视频
  |---------------
  |对应/public/tmp/ 目录 开发线可以设置为 http://127.0.0.1:8000/tmp
  |所有文件存储在 https://drive.google.com/drive/folders/1-4dn4juD-0-lsKndDui2W9nT9wcS_Y33?usp=sharing
  |开发线可自行下载放到/public/tmp/
  |或直接引用离您最近的assets server
  |------------------------
*/

var ASSETS_SERVER = "{{ app_assets_server }}";
