.like_icon {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 14px;
  height: auto;
  min-height: 14px;
  cursor: pointer;
  background: url(like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 6px;
  color: var(--tool-color);
}

.i_like {
  background: url(like1.svg);
}
