[Unit]
Description=open-ai server({{ app_domain }}).
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/usr/bin/docker run --rm --name {{ app_domain }}-ai-translate -v /srv:/srv:z {{ app_python_image }} {{ app_deploy_target }}/scripts/ai-translate.sh
ExecStop=/usr/bin/docker stop {{ app_domain }}-ai-translate
WorkingDirectory={{ app_deploy_target }}
Restart=always

[Install]
WantedBy=multi-user.target
