[Unit]
Description=Clean legacy files({{ app_domain }}).
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/python3 clean.py -d -k {{ app_deploy_keeps }}
WorkingDirectory={{ app_deploy_target | dirname }}

[Install]
WantedBy=multi-user.target
