[Unit]
Description=laravel job({{ app_domain }}-{{ item.name }}).
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/usr/bin/docker run --rm --name {{ app_domain }}-laravel-job-{{ item.name }} -v /srv:/srv:z {{ item.image }} {{ app_deploy_target }}/scripts/laravel.sh {{ item.args }}
ExecStop=/usr/bin/docker stop {{ app_domain }}-laravel-job-{{ item.name }}
WorkingDirectory={{ app_deploy_target }}
Restart=always

[Install]
WantedBy=multi-user.target
