[Unit]
Description=php-fpm 8.1(mint).
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/usr/bin/docker run --rm --name php-fpm-8.1 -p 0.0.0.0:{{ app_php_fpm81_port }}:9000/tcp -v /srv:/srv:z {{ app_php81_image }} /srv/bin/php-fpm.sh 8.1
ExecStop=/usr/bin/docker stop php-fpm-8.1
WorkingDirectory=/srv
Restart=always

[Install]
WantedBy=multi-user.target
