.pcd_word {
  text-decoration: none;
  text-underline-offset: 4px;
  cursor: pointer;
}
.pcd_word:hover {
  text-decoration: underline dotted;
}
.sent_read p {
  display: inline;
}

.sent_read_translation:hover {
  background-color: beige;
}

.sent_read_interactive_button:hover ~ .sent_read_translation {
  background-color: beige;
}

.sent_read_translation:hover ~ .sent_read_interactive_button {
  border: 1px solid black;
}

.sent-edit-inner {
  border: 1px solid rgb(129 129 129 / 10%);
  margin-top: 4px;
  border-radius: 6px;
  background-color: rgb(255 255 255 / 8%);
  width: 100%;
}
.sent-focus {
  border: 2px solid rgb(0 0 200 / 50%);
}

.sent-edit-inner .affix {
  background-color: white;
}
.sent_tabs {
  padding: 0 8px;
  background-color: rgba(92, 164, 247, 0.1);
}

.sent_tabs.compact {
  position: unset;
  margin-top: -32px;
  width: 100%;
  margin-right: 10px;
  background-color: unset;
}

.sent_tabs:hover .sent_tabs.compact {
  background-color: rgba(128, 128, 128, 0.1);
}
.sent_tabs.compact.curr_close {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.1);
}

.sent_tabs .content {
  padding: 0 8px;
}

.sent_tabs .ant-tabs-tab {
  background: #c6c5c5 !important;
}
.sent_tabs .ant-tabs-tab-active {
  background: rgba(92, 164, 247, 0.1) !important;
}

/** 2 级 组件 */
/*
.sent-edit-inner .sent-edit-inner .sent_tabs {
  background-color: rgba(128, 128, 128, 0.9);
}
.sent-edit-inner .sent-edit-inner .sent_tabs .ant-tabs-tab {
  background: #ececec !important;
}

.sent-edit-inner .sent-edit-inner .sent_tabs .ant-tabs-tab-active {
  background: rgba(128, 128, 128, 0.1) !important;
}
*/
/** 3 级 组件 */
/*
.sent-edit-inner .sent-edit-inner .sent-edit-inner .sent_tabs {
  background-color: rgb(200, 200, 200);
}
.sent-edit-inner .sent-edit-inner .sent-edit-inner .sent_tabs .ant-tabs-tab {
  background: #c6c5c5 !important;
}

.sent-edit-inner
  .sent-edit-inner
  .sent-edit-inner
  .sent_tabs
  .ant-tabs-tab-active {
  background: rgba(128, 128, 128, 0.9) !important;
}
  */
.pcd_sent_commentary {
  border: 2px dotted darkred;
  border-radius: 8px;
  padding: 4px;
  margin: 6px;
  background-color: #f5deb357;
}

.pcd_sent_commentary .pcd_sent_commentary {
  background-color: #44c76167;
}
.pcd_sent_commentary .pcd_sent_commentary .pcd_sent_commentary {
  display: none;
}
