<?php

#域名设置
define("RPC_SERVER","https://{{ app_rpc_host }}");
define("ASSETS_SERVER","https://assets-{{ app_cluster_domain }}");
/*
电子邮件设置
PHPMailer
*/
define("Email", [
				 "Host"=>"smtp.gmail.com",//Set the SMTP server to send through
				 "SMTPAuth"=>true,//Enable SMTP authentication
				 "Username"=>'{{ app_smtp_username }}',//SMTP username
				 "Password"=>'{{ app_smtp_password }}',//SMTP password
				 "Port"=>465,//TCP port to connect to 465; use 587 if you have set `SMTPSecure = PHPMailer::ENCRYPTION_STARTTLS`
				 "From"=>"{{ app_smtp_username }}",
				 "Sender"=>"webmaster"
				 ]);

/*
数据库设置
*/
define("Database",[
	"type"=>"pgsql",
	"server"=>"{{ app_postgresql_host }}",
	"port"=>{{ app_postgresql_port }},
	"name"=>"{{ app_postgresql_name }}",
	"sslmode" => "disable",
	"user" => "{{ app_postgresql_user }}",
	"password" => "{{ app_postgresql_password }}"
]);


/*
Redis 设置，
*/
define("Redis",[
	"host" => "{{ app_redis_host }}",
	"port" => 6379,
	"password" => "",
	"namespace" => "{{ app_redis_namespace }}"
]);

# 雪花id
define("SnowFlake",[
	"DatacenterId"=>1,
	"WorkerId"=>1
]);

#目录设置，不能更改
require_once __DIR__."/config.dir.php";

/*
数据表
*/
#表设置，此行不能更改
require_once __DIR__."/config.table.php";


?>
