.pcd_article h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.pcd_article h2 {
  margin-top: 1em;
  font-size: 200%;
  border-bottom: 1px solid gray;
}
.pcd_article h2 {
  margin-top: 1em;
  font-size: 150%;
  border-bottom: 1px solid gray;
}
.pcd_article h3 {
  margin-top: 0.5em;
  font-size: 130%;
}
.pcd_article h4 {
  font-size: 110%;
}
.pcd_article h5 {
  font-size: 100%;
}
.pcd_article h6 {
  font-size: 100%;
}
.pcd_article blockquote {
  margin-left: 1em;
  border-left: 4px solid #dad9d9;
  padding-left: 0.5em;
  color: gray;
}
