.pcd_article h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.pcd_article h2 {
  margin-top: 1em;
  font-size: 28px;
  border-bottom: 1px solid gray;
}
.pcd_article h2 {
  margin-top: 1em;
  font-size: 22px;
  border-bottom: 1px solid gray;
}
.pcd_article h3 {
  margin-top: 0.5em;
  font-size: 16px;
}
.pcd_article h4 {
  font-size: 100%;
}
.pcd_article h5 {
  font-size: 100%;
}
.pcd_article h6 {
  font-size: 100%;
}
.pcd_article blockquote {
  margin-left: 1em;
  border-left: 4px solid #dad9d9;
  padding-left: 0.5em;
  color: gray;
}

.pcd_article img {
  max-width: 100%;
}

.pcd_article table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  /*width: -webkit-max-content;*/
  /*width: max-content;*/
  max-width: 100%;
}
.pcd_article td,
.pcd_article th {
  padding: 0;
}

.pcd_article table th {
  font-weight: 600;
}
.pcd_article table th,
.pcd_article table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.pcd_article table tr {
  background-color: #ffffff;
  border-top: 1px solid hsl(210, 18%, 87%);
}
.pcd_article table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.pcd_article table img {
  background-color: transparent;
}

.pcd_article video {
  max-width: 90%;
}

.video-js video {
  max-width: 100%;
}
