.palicannon_nav_level_0{
padding-left:0;
display:none;
}
.palicannon_nav_level_1{
font-weight: 700;
padding-left:0;
}
.palicannon_nav_level_2{
font-weight: 400;
padding-left:1em;
}
.palicannon_nav_level_3{
font-weight: 400;
padding-left:2em;
}
.palicannon_nav_level_4{
padding-left:3em;
}
.palicannon_nav_level_5{
padding-left:4em;
}
.palicannon_nav_level_6{
padding-left:5em;
}
.palicannon_nav_level_7{
padding-left:6em;
}
.palicannon_nav_level_8{
padding-left:7em;
}

.tree_expand_1  {
	cursor: pointer;
	margin:0 3px;
}
.tree_expand_2  {
	cursor: pointer;
	margin:0 3px;
}
.tree_expand_3{
	cursor: pointer;
	margin:0 3px;
}
.tree_collapse_1{
	cursor: pointer;
	margin:0 3px;
	display:none;
}
.tree_collapse_2  {
	cursor: pointer;
	margin:0 3px;
	display:none;
}

.tree_collapse_3{
	cursor: pointer;
	margin:0 3px;
	display:none;
}