#right_pannal {
	display: none;
}
.when_right_fixed {
	padding-right: 0;
}
.index_toolbar {
	position: unset;
}
#pali_pedia {
	font-size: unset;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.5em;
}
.language-para {
	display: none;
}
#contents_div {
	flex: 7;
	padding: 5px;
	width: 100%;
}
#contents .para_div {
	flex-direction: column;
}
#contents .note_shell > note > .note_body {
	flex-direction: column;
}
#head_bar{
	flex-direction: column;
}