.click_dropdown_div {
  position: relative;
}
.click_dropdown_content {
  display: none;
  position: absolute;
  right: 0;
  width: 19em;
  border-radius: 4px;
  background-color: var(--drop-bg-color);
}

.click_dropdown_content_inner {
  max-height: 300px;
  min-height: 10em;
}
