.like_mine {
    background-color: var(--btn-bg-color);
}
.like_inner {
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    min-width: 40px;
    border: 1px solid var(--border-line-color);		
	padding: 2px 8px;
}

like{
    display: inline-block;
}