#!/bin/sh

docker run --rm -it --hostname=mint --network host \
    -v /srv/{{ app_deploy_target | dirname }}/clove:/srv/{{ app_deploy_target | dirname }}/clove:z \
    -v {{ app_deploy_target }}/api-v8:{{ app_deploy_target }}/api-v8:z \
    {{ app_docker_image_name }} 
