#right_pannal {
	display: none;
}
.when_right_fixed {
	padding-right: 0;
}
.index_toolbar {
	position: unset;
}
#pali_pedia {
	font-size: inherit;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.5em;
}
#contents_div {
	padding: 0;
}

#main_view {
	padding-top: 10em;
}
.other_tran_div > .tool_bar {
}
.other_tran_div > .tool_bar > .tool_left {
	width: calc(100vw - 2em - 12px);
	max-width: 100%;
}
.other_tran_div > .tool_bar > .tool_right {
	right: 6px;
	max-width: 50vw;
}
#head_span {
	width: 90vw;
	justify-content: space-between;
	margin-top: 5px;
}
note:hover .ref {
}

#left_pannal{
	display:none;
}

.main_view {
	margin-left: auto;
}

#head_nav {
	flex-direction: column-reverse;
}

.show_pc{
	display:none;
}
#left_pannal_inner{
	width: 100%;
}
#toc_content{
	width: 100%;
}