#right_pannal {
	display: none;
}
.when_right_fixed {
	padding-right: 0;
}
.index_toolbar {
	position: unset;
}
#pali_pedia {
	font-size: 200%;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.5em;
}
#contents_div {
	padding: 0;
}
#head_bar {
	flex-direction: column;
}
#main_view {
	padding-top: 10em;
}
.other_tran_div > .tool_bar {
	display: grid;
	min-height: 3em;
}
.other_tran_div > .tool_bar > .tool_left {
	width: calc(100vw - 2em - 12px);
	max-width: 100%;
}
.other_tran_div > .tool_bar > .tool_right {
	position: absolute;
	right: 6px;
	margin-top: 1.5em;
}
