header {
	display: none;
}
#head_bar {
	display: none;
}
#right_pannal {
	display: none;
}
.other_tran_div {
	display: none;
}

note .ref {
	display: none;
}
note {
	padding: 0;
}
#contents_div {
	padding: 0;
}
